<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655703860206-hsl16uv0mrv3qcj9vujseo6jh8dqr623.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655703860206-hsl16uv0mrv3qcj9vujseo6jh8dqr623</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>655703860206-ic6dsr9lojts09ihfhg9d2u44btinvf2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCfMBAtAu1J4oxBy2U6e7vTvQSD3RNMZAk</string>
	<key>GCM_SENDER_ID</key>
	<string>655703860206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.healthaccess.kvcdashboard</string>
	<key>PROJECT_ID</key>
	<string>visionscreener-2</string>
	<key>STORAGE_BUCKET</key>
	<string>visionscreener-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655703860206:ios:06f2d8edaf8ed9833da4ff</string>
</dict>
</plist>